<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="firstTestSuite" verbose="1" >

    <test name="SmokeTest">
        <classes>
            <class name="courseProjectTests.BuyTicketsToInfantsTest" />
            <class name="courseProjectTests.Find2ProductsTest" />
            <class name="courseProjectTests.Find_n_AddToCompareTest" />
            <class name="courseProjectTests.CompareDifferenceTest" />
            <!--<class name="courseProjectTests.BuyTicketsToInfantsTest" />-->
        </classes>
    </test>
</suite>